[submodule "examples/libs/sdl"]
	path = examples/libs/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "examples/libs/glew"]
	path = examples/libs/glew
	url = https://github.com/edoren/glew
[submodule "examples/libs/binpack"]
	path = examples/libs/binpack
	url = https://github.com/nekitu/binpack.git
[submodule "examples/libs/jsoncpp"]
	path = examples/libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "examples/libs/nativefiledialog"]
	path = examples/libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "examples/libs/stb"]
	path = examples/libs/stb
	url = https://github.com/nothings/stb
[submodule "examples/libs/utfcpp"]
	path = examples/libs/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "examples/libs/freetype"]
	path = examples/libs/freetype
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
